.backgroundImg {
  background-image: url("./assets/young-female-patient-visiting-dentist-office\ \(1\).jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(1px);
  -webkit-backdrop-filter: blur(1px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.glassmorphism1 {
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}
.bgService {
  background-color: #c3baed;
  opacity: 0.7;
  background-image: linear-gradient(#a4a9f7 1px, transparent 1px),
    linear-gradient(to right, #a4a9f7 1px, #c3baed 1px);
  background-size: 20px 20px;
}



@keyframes rotate-diagonal-1 {
  0% {
    transform: rotateX(0);
  }
  100% {
    transform: rotateX(-360deg);
  }
}
.rotate-diagonal-1:hover {
  animation: rotate-diagonal-1 0.8s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
}

.BackgroundColorDrawer {
  background-image: linear-gradient(
    to right top,
    #d4cef1,
    #e9e6f8,
    #ffffff
  ) !important;
  background-repeat: no-repeat !important;
}

/* doctor card */
.glowingEffect:hover {
  box-shadow: 0 0 20px #8774d9;
  /* border-color: #0974f1; */
}

/* background patter */
.backgroundPattern {
  background-color: #e5e5f7;
  opacity: 0.8;
  background: linear-gradient(135deg, #a4a7e755 25%, transparent 25%) -10px 0/
      20px 20px,
    linear-gradient(225deg, #a4a7e7 25%, transparent 25%) -10px 0/ 20px 20px,
    linear-gradient(315deg, #a4a7e755 25%, transparent 25%) 0px 0/ 20px 20px,
    linear-gradient(45deg, #a4a7e7 25%, #e5e5f7 25%) 0px 0/ 20px 20px;
}
